*.o
*.dSYM
*.csv
*.out
*.png
*.so
mnist/
data/
caffe/
grasp/
images/
opencv/
convnet/
decaf/
submission/
cfg/
darknet
.fuse*
basler-tamron_augmented_only-red/
cone-sim_augmented/
logs/
old_validation/
partial_weights/
training_first-basler-outdoor/
training_v2/
valid_kit/
validation/

# OS Generated #
.DS_Store*
ehthumbs.db
Icon?
Thumbs.db
*.swp

# Makefile fsd-train Jetson #
Makefile

# CMake #
cmake-build-debug/
build/
*.weights
*.mp4
augmented_training/
*.avi
chart*
jesewang-straight/
lucas_demo/
predictions/
jesewang-oval/
evaluations/
