*.o
*.dSYM
*.csv
*.out
*.png
*.so
*.a
.idea

mnist/
data/
caffe/
grasp/
images/
opencv/
convnet/
decaf/
submission/
cfg/
build/darknet/*
!build/darknet/YoloWrapper.cs
.fuse*
validation/
partial_weights/
cone-sim_augmented/
augmented_training/
old_validation/
training_v2/
valid_kit/
training_first-basler-outdoor/
basler-tamron_augmented_only-red/
logs/
fsg-models/

# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

# OS Generated #
.DS_Store*
thumbs.db
Icon?
Thumbs.db
*.swp

# Makefile fsd-train Jetson #
# Makefile
libs/

# CMake #
cmake-build-debug/
build/
*.weights
*.mp4
*.avi
*.csv
*.log

chart*
jesewang-straight/
lucas_demo/
predictions/
jesewang-oval/
evaluations/

chart.jpg
eval_new.py
